[package]
name = "hadron-syscall-macros"
version = "0.1.0"
edition = "2024"
publish = true

[lib]
proc-macro = true

[dependencies]
proc-macro2 = { workspace = true }
quote = { workspace = true }
syn = { workspace = true }
