menu "Kernel"

config KERNEL_DEBUG
    bool "Enable kernel debug output"
    default y

endmenu

menu "Logging"

config LOG_MAX_LEVEL
    u32 "Maximum log level (0=fatal only, 255=all)"
    default 255

endmenu

preset debug
    set KERNEL_DEBUG y

preset release
    set KERNEL_DEBUG n
